@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
  /* background-color: black; */

}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-family: 'Mukta', sans-serif; */
}

.flex {
  display: flex;
}

.landing-parent {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}

.landing-main {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landing-left {
  justify-content: center;
  width: 50vw;
}

.landing-right{
  padding-left: 8vw;
  height: 45vh;
  width: 50vw;
  justify-content: space-between;
  flex-direction: column;
}

#twitterLogo {
  max-width: 24vmax;
}

.top-heading {
  font-size: 64px;
  font-weight: 900;
}

.top-heading2 {
  font-size: 31px;
  font-weight: 900;
}

.btn {
  width: 25vmax;
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create-acc {
  background-color: #1d9bf0;
  transition: all 0.3s;
  user-select: none;
}

.create-acc:hover {
  background-color: rgb(26, 140, 216);
}

.existing-acc {
  font-size: 17px;
  font-weight: 900;
}

.sign-in {
  border: 1px solid rgb(83, 100, 113);
  color: #1d9bf0;
  user-select: none;
  transition: all 0.3s;
  cursor: pointer;
}

.sign-in:hover {
  background-color: rgba(29,155,240,0.13);
}

.r-top {
  height: 20vh;
  flex-direction: column;
  justify-content: space-around;
}

.r-mid {
  height: 10vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.terms {
  font-size: 11px;
  color: #71767b;
  width: 300px;
}

#terms-text {
  color: #1d9bf0;
  cursor: pointer;
}

#terms-text:hover {
  text-decoration: underline;
}

.r-bottom {
  height: 10vh;
  justify-content: space-around;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 2vh;
}

footer li {
  color: #71767b;
  padding-right: 16px;
  cursor: pointer;
}

footer li:hover {
  text-decoration: underline;
}

.about {
  list-style: none;
  font-size: 13px;
  flex-wrap: wrap;
  justify-content: center;
}

.signup-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 40vw; */
  padding: 2vmin;
  border-radius: 14px;
  padding: 4vw;
  /* background-color: #1D9CEB; */
  border: 1px solid #71767b;
  gap: 5vmin;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}
.err{
  color: rgb(255, 0, 0);
  font-size: 1.5vmin;
  font-weight: 600;
  margin-top: 0.5vmin;
}

.home-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex: 1;
}

#login-twitter {
  width: 1.3em;
  margin-left: 1vh;
}

.sign-in-form, .sign-up-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.sign-in-up {
  color: black;
  background-color: #EFF3f4;
  transition: all 0.3s;
}

.sign-in-up:hover {
  background-color: rgb(215, 219, 220);
}

.posts-parent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

@media screen and (max-width:1000px) {
  .landing-main{
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    /* margin: auto; */
  }

  .landing-parent {
    padding-left: 5vw;
    justify-content: start;
    align-items: start;
  }

  .landing-left {
    justify-content: start;
    width:100vw;
  }

  .r-top {
    height: 25vh;
  }

  .landing-right{
    height: 70vh;
    width: 100vw;
    padding-left: 0;
    justify-content: space-around;
  }
  
  #twitterLogo {
    max-width: 5vmax;
  }
}

@media screen and (max-width:500px) {
  .landing-main {
    align-items: start;
  }

  .top-heading {
    font-size: 40px;
  }
  .top-heading2{
    font-size: 23px;
  }

}